<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= car.model %>
  </title>
</head>

<body>
  <h1>Edit <%= car.model %>
  </h1>
  <form action="/cars/<%= car._id %>/?_method=PUT" method="post">
    <dev>
      <label for="model">Model:</label>
      <input type="text" name="model" id="model" required value="<%= car.model %>" />
      <br>
    </dev>
    <dev>
      <label for="color">Color : </label>
      <input type="text" name="color" id="color" required value="<%= car.color %>" />
      <br>
    </dev>
    <dev> <label for="year">Year : </label>
      <input type="number" name="year" id="year" required value="<%= car.year %>" />
      <br>
    </dev>

    <button type="submit">Update Car</button>
  </form>
</body>

</html>